@import "tailwindcss";

:root {
  --color-esp-white: #EAEAEA;
  --color-esp-blue: #051F40;
  --color-esp-darkblue: #041737;
  --color-esp-gold: #AE923E;
  --color-esp-dark-gold: #C9A94A;
}

@theme inline {
  --color-foreground: var(--color-esp-blue);
  --color-background: var(--color-esp-darkblue);
  --color-btn-gold: var(--color-esp-gold);
  --color-dark-gold: var(--color-esp-dark-gold);
  --color-text-primary: var(--color-esp-white);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}